<html>
     <link rel="stylesheet" href="../css/bootstrap.css">
     <script defer src="../../js/jquery.js"></script>
     <script defer src="../../js/fontawesome-all.js"></script>
     <script defer src="../../js/bootstrap.bundle.js"></script>
     <script defer src="../../js/bootstrap.js"></script>

     <div class="float-left">Welcome to Autocheck</div>
     <div class="float-right"><i class= "fa fa-tint"></i></div>

     <header class="navbar navbar-light bg-light">
        <div class="navbar-brand"><i class="fa fa-car"></i></div>
        <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">See Your Campaigns</a>
                  <a class="dropdown-item" href="#">See Your Offers</a>
                </div>
              </div>
        
    </header>

	<form class="form-horizontal">
	<fieldset>

	<!-- Form Name -->
        <legend>Sign up for a discount oil change</legend> 

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="campaign-title">User Name</label>  
            <div class="col-md-5">
                <input id="campaign-title" name="campaign-title" type="text" placeholder="e.g. Sally Smith" class="form-control input-md" required="">
        
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="campaign-description">Email</label>  
            <div class="col-md-8">
                <input id="campaign-description" name="campaign-description" type="text" placeholder="e.g. example@email.com" class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="campaign-commits">Telephone Number</label>  
            <div class="col-md-4">
                <input id="campaign-commits" name="campaign-commits" type="text" placeholder="e.g. (555) 555-5555" class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="msrp">Zip Code</label>  
            <div class="col-md-4">
                <input id="msrp" name="msrp" type="text" placeholder="e.g. 12345" class="form-control input-md">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="save-user"></label>
            <div class="col-md-4">
                <button id="save-user" name="save-user" class="btn btn-primary">Save</button>
            </div>
        </div>

    </fieldset>
    </form>
    
    <html>
    <form class="form-horizontal">
        <fieldset>
        
        <!-- Form Name -->
        <legend>New User Form</legend>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Name</label>  
          <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" placeholder="Full Name" class="form-control input-md" required="">
            
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="zip-code">Zip Code</label>  
          <div class="col-md-4">
          <input id="zip-code" name="zip-code" type="text" placeholder="e.g. 94107" class="form-control input-md">
            
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="user-email">Email Address</label>  
          <div class="col-md-4">
          <input id="user-email" name="user-email" type="text" placeholder="Jane_Doe@gmail.com" class="form-control input-md">
            
          </div>
        </div>
        
        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="user-type">User Type</label>
          <div class="col-md-4">
            <select id="user-type" name="user-type" class="form-control">
              <option value="null">Select a User Type</option>
              <option value="user">User</option>
              <option value="business-owner">Business Owner</option>
            </select>
          </div>
        </div>
        
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="save-user"></label>
          <div class="col-md-4">
            <button id="save-user" name="save-user" class="btn btn-primary">Save</button>
          </div>
        </div>
        
        </fieldset>
    </form>
    </html>
</html>