<html>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script defer src="../../js/fontawesome-all.js"></script>



     <header class="navbar navbar-light bg-light">
        <div class="navbar-brand"><i class="fa fa-car"></i></div>
        <div class="float-left">Welcome to Autocheck</div>
        <div class="float-right"><i class= "fa fa-tint"></i></div>
    </header>

	<form class="form-horizontal">
	<fieldset>

	<!-- Form Name -->
        <legend>New Campaign Form</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="campaign-title">Name of Campaign</label>  
            <div class="col-md-5">
                <input id="campaign-title" name="campaign-title" type="text" placeholder="e.g. Oil Changes for the Masses!" class="form-control input-md" required="">
        
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="campaign-description">Description</label>  
            <div class="col-md-8">
                <input id="campaign-description" name="campaign-description" type="text" placeholder="e.g. This campaign will offer..." class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="campaign-commits">Number of Commitmetns</label>  
            <div class="col-md-4">
                <input id="campaign-commits" name="campaign-commits" type="text" placeholder="e.g. 100" class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="msrp">Original Price of Product</label>  
            <div class="col-md-4">
                <input id="msrp" name="msrp" type="text" placeholder="e.g. $100" class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="campaign-price">Price During Campaign</label>  
            <div class="col-md-4">
                <input id="campaign-price" name="campaign-price" type="text" placeholder="e.g. $75" class="form-control input-md">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="save-user"></label>
            <div class="col-md-4">
                <button id="save-user" name="save-user" class="btn btn-primary">Save</button>
            </div>
        </div>

    </fieldset>
	</form>
</html>