<html>
    <form class="form-horizontal">
        <fieldset>
        
        <!-- Form Name -->
        <legend>New User Form</legend>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Name</label>  
          <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" placeholder="Full Name" class="form-control input-md" required="">
            
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="zip-code">Zip Code</label>  
          <div class="col-md-4">
          <input id="zip-code" name="zip-code" type="text" placeholder="e.g. 94107" class="form-control input-md">
            
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="user-email">Email Address</label>  
          <div class="col-md-4">
          <input id="user-email" name="user-email" type="text" placeholder="Jane_Doe@gmail.com" class="form-control input-md">
            
          </div>
        </div>
        
        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="user-type">User Type</label>
          <div class="col-md-4">
            <select id="user-type" name="user-type" class="form-control">
              <option value="null">Select a User Type</option>
              <option value="user">User</option>
              <option value="business-owner">Business Owner</option>
            </select>
          </div>
        </div>
        
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="save-user"></label>
          <div class="col-md-4">
            <button id="save-user" name="save-user" class="btn btn-primary">Save</button>
          </div>
        </div>
        
        </fieldset>
    </form>
</html>